@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  color: white;
}

.app {
  width: 100%;
  animation: append 1s linear 1;
}

canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  background: lightgray;
  border: none;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.divider-vertical {
  width: 1px;
  height: 150px;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 0px 5px 0.5px white;
}

input[type="text"] {
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 5px;
}

.form {
  width: 25%;
}

.search-btn {
  animation: roll-up 1s linear 1;
}

.card {
  width: 70%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  animation: append 1s linear 1;
}

.card .full-data-wrapper {
  height: 90%;
}

.card .demo-wrapper {
  width: 100%;
  justify-content: space-between;
}

.card .demo-weather-icon {
  width: 70px;
  height: 70px;
}

.card .data-wrapper {
  justify-content: space-between;
  height: 90%;
  width: 80%;
}

.card .icon {
  justify-self: center;
  align-self: center;
}

.card .sub-info {
  animation: append 1s linear 1;
}
